



/* _____________________________________Header_______________________________________________*/

header {
    display: grid;
    grid-template-columns: 1fr auto 50px;
    gap: 5px;
    align-items: center;
    padding: 0 16px;
    border-bottom: solid 1px #ddd;
    margin-top: 1.rem;
}

header span {
    font-size: 14px;
    margin: 0;
    text-align: left;
    padding: 0;
}

/* Harmburger ________________________*/
.hamburger::before {
  content: "\2630";
  font-size: 1.5rem;
}
.hamburger.show::before {
  content: "\00D7";
  font-size: 1.5rem;
}

/* Navigation bar ________________________*/
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation li.current {
  background-color: red;
}

ul {
    list-style: none;
    padding: 5px 0;
    margin: 5px;
}

li {
    margin: 10px;
    display: block;
}

li a {
    display: block;
    text-decoration:none ;
    border-bottom: 1px solid #a6a0a0;
    padding: .5rem 10px;
    margin: 0 auto;
}

.navigation a:hover {
  display: block;
  background-color: #fff;
  width: 100%;
  color: var(--background-color);
}


/* hero ________________________*/

.hero img {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.description {
    margin: 0 10px;
}

.description h2,
.description h3, 
.description p {
    margin: 8PX 0 0 0;
}

.description button {
    display: block;
    padding: 8px 1rem;
    border: none;
    background-color: black;
    color: yellow;
    margin: 2rem auto;
    border-radius: 4px;

}

footer {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
  margin: 0 auto;
  background-color: gray;
  padding: 1rem;
  text-align: center;
}

.social {
  display: flex;             
  justify-content: center;   
  gap: 1rem;                 
  margin: 1rem 0;
}

.social img {
  width: 24px;  /* set icon size */
  height: 24px;
  display: block;
}
  
footer p {
  font-size: 14px;
  margin-top: 0.5rem;
  color: #ffff;
}

